.dropdown-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    will-change: transform;
    position: absolute;
    width: 65%;
    height: 100vh;
    background: rgba(65, 65, 65, 0.6);
    top: 0;
    left: 0;
    z-index: 60;
  }
  .dropdown-menu.open {
    transform: translateY(0);
  }
  .ios-backdrop {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(65, 65, 65, 0.6);
  }